<div class="banner banner--home">
  <div class="banner-timer">
    <h1 class="banner-timer__title">Countdown till wedding</h1>

    <div class="banner-timer__countdown">
      <div class="unit">
        <span class="number">{{ timer?.days }}</span
        ><span class="label">Days</span>
      </div>
      <div class="unit">
        <span class="number">{{ timer?.hours }}</span
        ><span class="label">Hours</span>
      </div>
      <div class="unit">
        <span class="number">{{ timer?.minutes }}</span
        ><span class="label">Minutes</span>
      </div>
      <div class="unit">
        <span class="number">{{ timer?.seconds }}</span
        ><span class="label">Seconds</span>
      </div>
    </div>
  </div>
</div>
