<div class="banner">
  <app-header></app-header>

  <div class="banner-content">
    <div class="banner-content__img">
      <app-flower></app-flower>
    </div>

    <div class="banner-content__text">
      <div class="title">
        <span class="title-dash"></span>
        <span class="title-text">The Wedding of</span>
        <span class="title-dash"></span>
      </div>

      <div class="text">Aqeelah Mohammed & William Barents</div>

      <p class="date">{{ getWeddingDate }}</p>
    </div>
  </div>
</div>
