<div class="couple container">
  <div class="couple-img">
    <img
      src="./../../../../assets/image/bride-groom.png"
      alt="Bride & Groom Image"
      class="couple-img__item"
    />
  </div>

  <div class="couple-title">Groom & Bride</div>

  <div class="couple-text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, sequi dolore
    quam, exercitationem iste enim dignissimos tenetur quo ab nulla quia illo
    veniam distinctio, deserunt blanditiis ullam impedit quod. Reprehenderit?
  </div>

  <div class="couple-profile">
    <div class="couple-profile__container">
      <div class="groom">
        <img
          src="./../../../../assets/image/Will-selfie.webp"
          alt="Groom Selfie"
          class="groom-selfie"
        />

        <h1 class="groom-name">William R. Barents</h1>

        <p class="groom-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem iste
          ducimus ut aliquid eaque obcaecati iure dolores perspiciatis magnam
          hic sequi aperiam quasi cum assumenda itaque, atque minus inventore
          doloribus.
        </p>

        <div class="groom-social">
          <a href="" class="groom-social__item">
            <img
              src="./../../../../assets/icons/instagram-icons.png"
              alt="Instagram Icon"
            /> </a
          ><a href="" class="groom-social__item">
            <img src="./../../../../assets/icons/x-icon.png" alt="X icons" />
          </a>
        </div>
      </div>
    </div>
    <div class="couple-profile__container">
      <div class="bride">
        <img
          src="./../../../../assets/image/bride-selfie.webp"
          alt="Bride Selfie"
          class="bride-selfie"
        />

        <h1 class="bride-name">Aqeelah Mohammed</h1>

        <p class="bride-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. In nam
          veritatis temporibus voluptate facilis, ducimus atque fugit, assumenda
          dignissimos magni alias architecto recusandae maiores ut qui eligendi
          aliquid perferendis! Omnis?
        </p>

        <div class="bride-social">
          <a href="" class="bride-social__item">
            <img
              src="./../../../../assets/icons/instagram-icons.png"
              alt="Instagram Icon"
            /> </a
          ><a href="" class="bride-social__item">
            <img
              src="./../../../../assets/icons/facebook-icons.png"
              alt="Facebook Icon"
            /> </a
          ><a href="" class="bride-social__item">
            <img
              src="./../../../../assets/icons/threads-icons.png"
              alt="Threads icons"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
