<div class="introductions container">
  <div class="introductions-flower">
    <app-single-flower></app-single-flower>
  </div>
  <h1 class="introductions-title">Are Getting Married</h1>
  <p class="introductions-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus neque
    magni magnam iusto natus perferendis, nobis atque expedita tempore debitis
    tenetur! Fuga error facilis dicta accusantium ut illum fugit voluptatum?

    <strong class="introductions-text__date"
      >On Dec 28, 2017 - Johannesburg, South Africa</strong
    >
  </p>
  <div class="introductions-image">
    <div class="introductions-image__selfie">
      <img
        src="./../../../../assets/image/Will-selfie.webp"
        alt="Will Selfie"
        class="selfie"
      />

      <h1 class="name">William R. Barents</h1>
      <div class="title">Groom</div>
    </div>

    <div class="introductions-image__ring">
      <div class="diamond">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          id="Capa_1"
          x="0px"
          y="0px"
          viewBox="0 0 512 180"
          style="enable-background: new 0 0 512 180"
          xml:space="preserve"
          class="svg img-responsive replaced-svg"
        >
          <path
            style="fill: #e1549b"
            d="M256,22.145v157.344l-80.272-91.28c0,0-30.544-39.072-0.712-68.552  C202.176-7.175,240.016,5.097,256,22.145z"
          ></path>
          <path
            style="fill: #dd1a72"
            d="M256,22.145v157.344l80.272-91.28c0,0,30.544-39.072,0.712-68.552  C309.824-7.175,271.984,5.097,256,22.145z"
          ></path>
        </svg>
      </div>
      <div class="ring">
        <div class="ring-left"></div>
        <div class="ring-right"></div>
      </div>
    </div>

    <div class="introductions-image__selfie">
      <img
        src="./../../../../assets/image/bride-selfie.webp"
        alt="Bride Selfie"
        class="selfie"
      />

      <h1 class="name">Aqeelah Mohammed</h1>
      <div class="title">Bride</div>
    </div>
  </div>
</div>
